body {
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:rgb(94, 92, 92);
	font-family: 'Coda Caption', sans-serif;
	color:white;
}
#clickHelp {
	display:none;
}
.module {
	background:rgb(124, 123, 82);
	padding:5px;
	cursor:pointer;
	margin-top:5px;
}
.module:hover {
	background:rgb(73, 72, 38);
}
.modules_reload_button {
	margin:10px;
	padding:4px;
	font-size:18px;
	color:white;
	text-align:center;
	background:rgb(124, 123, 82);
	cursor:pointer;
}
.modules_reload_button:hover {
	background:rgb(109, 108, 74);
}
#modules_list {
	margin:25px;
	color:white;
}
.uploadzone {
	margin:50px;
}
.label {
	color:white;
}
.modules {
	position:fixed;
	display:none;
	left:20px;
	right:20px;
	top:20px;
	bottom:20px;
	overflow:auto;
	background:rgb(82, 70, 34);
	border:5px solid rgb(48, 36, 7);
}
.menusection {
	margin-top:4px;
}
.topBar {
	background:rgb(165, 163, 109);
	height:50px;
	text-align:center;
}
.topBarButton {
	display:inline-block;
	padding:8px;
	height:34px;
	font-size:22px;
	color:white;
	margin-left:20px;
	background:rgb(97, 88, 44);
	cursor:pointer;
}
.topBarButton:hover {
	background:rgb(66, 60, 29);
}
.menu {
	position:fixed;
	left:0;
	top:50px;
	width:20%;
	background:rgb(243, 243, 243);
	height:calc(100% - 50px);
	overflow-y:auto;
	overflow-x:hidden;
	word-wrap:break-word;
}
.nodeContainer {
	position:relative;
}
.position_node {
	position:absolute;
	left:0;
	top:0;
}
.draw_connect_div {
	background:gray;
	cursor:pointer;
}
.draw_node {
	border:1px solid rgb(235, 175, 19);
	box-shadow: 1px 1px 10px #614A21;
}
.node {
	margin:5px;
	display:inline-block;
}
.section {
	background:rgb(199, 161, 0);
	padding:5px;
	text-align:center;
	font-size:18px;
	font-weight:800;
	color:white;
}
.drawZone {
	position:absolute;
	left:20%;
	top:50px;
}